@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500&display=swap');
body{
	background-color:#FFD9FA;
}
div{
	font-family: 'Noto Sans KR', sans-serif;
}
input[type='button'],input[type='submit']{
    width:100px;
    background-color: #1ee18e;
    border: none;
    color:#fff;
    padding: 5px 0;
    margin: 2px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
input:hover[type="submit"], input:hover[type="button"]{
	width:103px;
    background-color: #1B8F81;
    border: none;
    color:#fff;
    padding: 5px 0;
    margin: 2px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}